# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Environment Files
# ==========================
.env
.env.*

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Flutter
# ==========================
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies

# ==========================
# Node.js / React
# ==========================
**/node_modules/
**/coverage/
**/dist/

# ==========================
# Misc
# ==========================
*.tmp
*.temp